html {
  color: white;
  width: 100vw;
  height: 100vh;
  background-color: #262d37;
  font-family: 'Assistant', sans-serif; }

.background {
  text-align: center; }

.main-container {
  display: inline-block;
  text-align: left;
  background-color: #38414e;
  border-radius: 11px;
  width: 70vw;
  margin-top: 4rem;
  position: relative; }
  .main-container > .main-container-head {
    height: 100%;
    background-color: #59d9a4;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em; }
  .main-container > .main-container-body {
    padding: 2em 5em; }
  .main-container h1 {
    padding-top: 2.5rem;
    padding-left: 3rem;
    margin-top: 0;
    margin-bottom: 1em;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 2.2rem; }
  .main-container h5 {
    margin-bottom: 0em;
    font-weight: 500;
    font-size: 1.2rem;
    text-transform: uppercase; }
  .main-container input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid grey;
    width: 100%;
    height: 2rem;
    font-size: 1.2rem;
    color: white;
    font-weight: 100;
    -webkit-transition: width 1s;
    /* For Safari 3.1 to 6.0 */
    transition: border 1s; }
    .main-container input:focus {
      outline: none; }
  .main-container .numero input {
    color: #59d9a4; }
    .main-container .numero input:focus {
      border-bottom: 1px solid #59d9a4; }
  .main-container .nombre input {
    color: #59d4d9; }
    .main-container .nombre input:focus {
      border-bottom: 1px solid #59d4d9; }
  .main-container .expiracion input {
    color: #BA68C8; }
    .main-container .expiracion input:focus {
      border-bottom: 1px solid #BA68C8; }
  .main-container .codigo input {
    color: #F06292; }
    .main-container .codigo input:focus {
      border-bottom: 1px solid #F06292; }

.form-side {
  width: 20vw;
  float: left; }

.credit-card {
  width: 400px;
  height: 200px;
  float: right;
  background-color: white;
  border-radius: .5rem;
  position: absolute;
  top: 55%;
  right: 4rem;
  transform: translateY(-50%);
  padding: 1rem; }
  .credit-card > img {
    height: 35px;
    float: right; }
  .credit-card > #credit-card-number {
    font-size: 2rem;
    text-shadow: 0px 2px 0 #000;
    margin-top: 10vh;
    text-align: center;
    letter-spacing: .3vw; }
  .credit-card div.ce-container {
    position: absolute;
    right: 3em;
    top: 8em; }
    .credit-card div.ce-container p {
      margin-top: 0;
      text-align: center; }
  .credit-card div.cvc-container {
    position: absolute;
    left: 3em;
    top: 8em; }
    .credit-card div.cvc-container p {
      margin-top: 0;
      text-align: center; }
  .credit-card .ce-container > small, .credit-card .cvc-container > small {
    color: #394255;
    font-size: 1em;
    font-weight: 500; }
  .credit-card #card-holder {
    position: absolute;
    bottom: 0em;
    left: 2em;
    text-shadow: 0px 2px 0 #000;
    font-size: 1.5em;
    letter-spacing: .1em; }
  .credit-card.neutral {
    background-color: #54637e; }

button {
  margin: 3rem 0;
  background-color: transparent;
  border: 1px solid grey;
  color: grey;
  border-radius: 2rem;
  font-size: 1.2rem;
  font-weight: 100;
  padding: .5rem 6rem; }
  button:hover {
    border: 1px solid white;
    color: white;
    cursor: pointer; }

/*# sourceMappingURL=main.css.map */
