html {
  color: white;
  background-color: #262d37;
  font-family: 'Assistant', sans-serif; }

.background {
  text-align: center;
  padding: 1rem; }

@media screen and (min-width: 993px) {
  .main-container {
    margin-top: 12rem !important; }

  .main-container-body {
    padding: 0 1rem; }

  .credit-card {
    margin-top: 5rem !important; } }
.main-container {
  text-align: left;
  background-color: #38414e;
  border-radius: 11px;
  max-width: 1000px;
  margin: 7rem auto 0 auto !important;
  /*
  ===================
  Input Colors
  ===================
  */ }
  .main-container > .main-container-head {
    background-color: #59d9a4;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em; }
  .main-container > .main-container-body {
    padding: 1rem .5rem; }
  .main-container h1 {
    padding: 1rem;
    margin: 0;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 2.2rem; }
  .main-container h5 {
    margin-bottom: .1em;
    font-weight: 500;
    font-size: 1.5rem;
    text-transform: uppercase; }
  .main-container input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid grey;
    height: 2rem;
    color: white;
    font-weight: 100;
    transition: border 1s; }
    .main-container input:focus {
      outline: none; }
    .main-container input[list] {
      text-align: center; }
  .main-container .numero input {
    color: #59d9a4; }
    .main-container .numero input:focus {
      border-bottom: 1px solid #59d9a4; }
  .main-container .nombre input {
    color: #59d4d9; }
    .main-container .nombre input:focus {
      border-bottom: 1px solid #59d4d9; }
  .main-container .expiracion input {
    color: #BA68C8; }
    .main-container .expiracion input:focus {
      border-bottom: 1px solid #BA68C8; }
  .main-container .codigo input {
    color: #F06292; }
    .main-container .codigo input:focus {
      border-bottom: 1px solid #F06292; }

.form-side form {
  text-align: center; }
  .form-side form div {
    text-align: left; }

/*
===========================
Credit Card General Styles
===========================
*/
.credit-card {
  background-color: white;
  border-radius: .5rem;
  /*
  =================================
  Credit Card Specific Card Styles
  =================================
  */ }
  .credit-card > img {
    height: 35px;
    margin: 1rem .5rem; }
  .credit-card > #credit-card-number {
    text-shadow: 0px 2px 0 #000;
    text-align: center;
    letter-spacing: .3vw;
    font-size: 1.5rem;
    margin: 0; }
  .credit-card div.ce-container small {
    font-size: 1rem; }
  .credit-card div.ce-container p {
    text-align: center; }
  .credit-card div.cvc-container small {
    font-size: 1rem; }
  .credit-card div.cvc-container p {
    text-align: center; }
  .credit-card .ce-container > small, .credit-card .cvc-container > small {
    color: #394255;
    font-weight: 500; }
  .credit-card #card-holder {
    text-shadow: 0px 2px 0 #000;
    letter-spacing: .1em;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.5rem;
    margin: 1rem 0; }
  .credit-card.neutral {
    background-color: #54637e; }
  .credit-card.isVisa {
    background-color: #1d8a91; }
  .credit-card.isMasterCard {
    background-position-x: -56px;
    background-position-y: -100px;
    background-color: #0277BD; }
  .credit-card.isAMEX {
    background-color: #00897B;
    background-position-x: -24px;
    background-position-y: -30px;
    background-size: 467px; }

/*
====================
Submit Button Styles
====================
*/
.submit-container {
  text-align: center !important; }
  .submit-container button {
    margin: 1rem 0;
    background-color: transparent;
    border: 1px solid grey;
    color: grey;
    border-radius: 2rem;
    font-weight: 100;
    padding: .5rem 6rem; }
    .submit-container button:hover {
      border: 1px solid white;
      color: white;
      cursor: pointer; }

/*# sourceMappingURL=main.css.map */
