

// Variables
// 	|- General Variables
$color-background: #262d37;
//	|
// 	|- Panel Variables
$panel-header: #59d9a4;
$panel-body: #38414e;
// 	|
//	|-Credit Card Variables
// 	|-Fonts
$small-title: #394255;
// 		|
// 		|- Neutral Credit Card
$card-bgd-neutral: #54637e;
// 		|
// 		|- Visa Credit Card
$card-bgd-visa: #1d8a91;
// 		|
// 		|- MasterCard Credit Card
$card-bgd-mastercard: #0277BD;
// 		|
// 		|- AMEX Credit Card
$card-bgd-amex: #00897B;


// Define all text with a color.
html{
  color: white;
  background-color: $color-background;
  font-family: 'Assistant', sans-serif;
}

// We define the size and color fo the background div.
.background{
	text-align: center;
    padding: 1rem;
}

// Main container size and positioning

@media screen and (min-width: 993px) {
    .main-container {
        margin-top: 12rem !important;
    }
    .main-container-body{
        padding: 0 1rem;
    }
    .credit-card {
        margin-top: 5rem !important;
    }
}
.main-container{
	text-align: left;
	background-color: $panel-body;
	border-radius: 11px;
    max-width: 1000px;
    margin: 7rem auto 0 auto !important;

	&>.main-container-head{
		background-color: $panel-header;
		border-top-left-radius:1em;
		border-top-right-radius:1em;
	}

	& > .main-container-body{
        padding: 1rem .5rem;
	}

	& h1{
        padding: 1rem;
		margin: 0;
    	text-transform: uppercase;
    	font-weight: 300;
    	font-size: 2.2rem;
	}
	& h5{
		margin-bottom: .1em;
	    font-weight: 500;
	    font-size: 1.5rem;
	    text-transform: uppercase;
	}
	& input{
		background-color: transparent;
		border: none;
		border-bottom: 1px solid grey;
		height: 2rem;
	    color: white;
	    font-weight: 100;
    	transition: border 1s;
	    &:focus{
	    	outline: none;
	    }
	    &[list]{
	    	text-align: center;
	    }

	}

/*
===================
Input Colors
===================
*/
	.numero{
		input{color: #59d9a4; &:focus{border-bottom: 1px solid #59d9a4;}}
	}
	.nombre{
		input{color: #59d4d9; &:focus{border-bottom: 1px solid #59d4d9;}}
	}
	.expiracion{
		input{color: #BA68C8; &:focus{border-bottom: 1px solid #BA68C8;}}
	}
	.codigo{
		input{color: #F06292; &:focus{border-bottom: 1px solid #F06292;}}
	}
}
.form-side{
	//width: 20vw;
    & form {
        text-align: center;
        & div {
            text-align: left;
        }

    }
}
/*
===========================
Credit Card General Styles
===========================
*/


.credit-card{
	background-color: white;
    border-radius: .5rem;
    & > img{
		height: 35px;
        margin: 1rem .5rem;
    }
    & > #credit-card-number{
   		text-shadow: 0px 2px 0 #000 ;
   		text-align: center;
   		letter-spacing: .3vw;
        font-size: 1.5rem;
        margin: 0;

    }
    div.ce-container {
        & small {
            font-size: 1rem;
        }
	    & p {
			text-align: center;
	    }
    }
    div.cvc-container{
        & small {
            font-size: 1rem;
        }
	    & p {
			text-align: center;
	    }
    }


    .ce-container > small, .cvc-container > small{
    	color: $small-title;
    	//font-size: 1em;
    	font-weight: 500;
    }
    #card-holder{
		text-shadow: 0px 2px 0 #000 ;
		letter-spacing: .1em;
		text-transform: uppercase;
        text-align: center;
        font-size: 1.5rem;
        margin: 1rem 0;

    }
/*
=================================
Credit Card Specific Card Styles
=================================
*/

    &.neutral{
    	background-color: $card-bgd-neutral;
    }
    &.isVisa{
	background-color: $card-bgd-visa;
	}
	&.isMasterCard{
		// background-image: url("../img/MasterCard.png");
		background-position-x: -56px;
    	background-position-y: -100px;
		background-color: $card-bgd-mastercard;
	}
	&.isAMEX{
	    // background-image: url("../img/AMEX.gif");
	    background-color: $card-bgd-amex;
	    background-position-x: -24px;
	    background-position-y: -30px;
	    background-size: 467px;
	}
}

/*
====================
Submit Button Styles
====================
*/
.submit-container {
    text-align: center !important;
    & button{
        margin: 1rem 0;
    	background-color: transparent;
    	border: 1px solid grey;
    	color: grey;
    	border-radius: 2rem;
    	font-weight: 100;
    	padding: .5rem 6rem;

    	&:hover{
    		border: 1px solid white;
    		color: white;
    		cursor: pointer;
    	}
    }
}
